
__pycache__/
*.py[cod]
*$py.class
instance/
*.db
*.sqlite
.env
.env.*
venv/
env/
ENV/
.venv/
pip-wheel-metadata/
*.manifest
*.spec
*.log
*.pot
*.pyc
*.pyo
*.tmp
*.bak
.vscode/
.cache/
.pytest_cache/


migrations/
